<!-- views/homepage.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Facts Blog</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
<div class="wrapper">
    <header>
      <div>
        <nav>
          <a href="/">Home</a>
          <a href="/dashboard">Dashboard</a>
          {{!-- {{#if loggedIn}}
          <a href="/" id="logout">Logout</a>
          {{else}}
          <a href="/login">Login</a>
          {{/if}} --}}
        </nav>
      </div>
            <div>
        <h1 class="title">Dog Facts Blog</h1>
      </div>
    </header>

    {{!-- {{#each posts}}
        <div>
            <h2>{{post_title}}</h2>
            <p>{{post_text}}</p>
            <p><small>Posted on: {{post_date}}</small></p>
        </div>
    {{/each}} --}}
    {{!-- {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}} --}}
</body>
</html>