<ol class="postList">
  {{#each posts as |post|}}
  <li>
    {{!-- This will call another .handlebars file named postDetails and pass the singular post information to it--}}
    {{> postDetails post}}
  </li>
  {{/each}}
</ol>