<form class="loginForm">
  <h2>Login</h2>
  <div>
    <label for="username-login">Username:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>

<form class="signupForm">
  <h2>Sign Up</h2>
  <div>
    <label for="usernameSignup">Username:</label>
    <input type="text" id="usernameSignup" />
  </div>  
    <div>
    <label for="emailSignup">Email:</label>
    <input type="password" id="emailSignup" />
  </div>
  <div>
    <label for="passwordSignup">Password:</label>
    <input type="password" id="passwordSignup" />
  </div>
  <div>
    <button type="submit">Signup</button>
  </div>
</form>
<script src="/javascript/login.js"></script>