<section>
  <h2>Create New Post</h2>

  <form class="newPostForm">
    <div>
      <label for="postTitle">Title</label>
      <input type="text" id="postTitle" name="postTitle" />
    </div>
    <div>
      <label for="postText">Post</label>
      <textarea id="postText" name="postText"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<script src="/js/addPost.js"></script>